run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="mysql"
DB_HOST="mysql-bnw007.alwaysdata.net"
DB_PORT="3306"
DB_USER="bnw007_replit"
DB_PASS="baga1234"
DB_NAME="bnw007_replit"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="true"
